*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    width: 100vw;
    height: 100vh;
}
.row{
    width: 100%;
    display: flex;
}
.row.top{
    height: 60%;
}
.row.bottom{
    height: 40%;
    flex-direction: column;
    align-items: center;
}
.image-box{
    width: 40%;
    height: 100%;
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box img{
    width: auto;
    height: 100%;
}
.data-box{
    width: 40%;
    height: 100%;
    margin: 0 5%;
    padding: 5%;
}
.display-box{
    width: 90%;
    height: 60%;
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-box{
    width: 90%;
    height: 40%;
    margin: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    width: 25%;
    height: 40%;
    border-radius: 30px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.button:hover{
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}
